<section class="featured-wrapper">
    <div class="post-content gh-content kg-canvas">
        <div>We are the North Brunswick Junior Football Club – the Giants – a truly multicultural AFL club in one of the fastest growing areas of Melbourne. Our teams play in the powerful Yarra Junior Football League, and we’re also an Auskick centre.</div>
        <div>In 2018 we affiliated with the GWS GIANTS and our Under 13s won the premiership. No worries.</div>
        <div>Boys and girls: we’d love you to play for us. We ensure that every child gets plenty of game time.</div>
        <div>AFL football is played in an enjoyable family-friendly atmosphere at North Brunswick, where new friendships are formed, and the sense of belonging to a team is promoted. Success to us is measured by the level of enjoyment and participation experienced by our young Giants and their families. Then, as skills improve we also provide pathway opportunities for players to progress to senior ranks.</div>
        <div>We’re about Fun, Fitness, Family and Teamwork. So come down to Allard Park and check us out.</div>
    </div>
</section>